<div class="container">
  <form
    [class.error]=""
    (submit)="
      addOrUpdateNote(title.value, content.value);
      title.value = '';
      content.value = ''
    "
  >
    <div *ngIf="error" class="error">{{ error }}</div>
    <input
      [ngClass]="{ invalid: isInvalid }"
      type="text"
      #title
      placeholder="Заглавие"
      required
      minlength="5"
    />
    <input
      [ngClass]="{ invalid: isInvalid }"
      #content
      placeholder="Съдържание"
      required
      minlength="7"
    />
    <button type="submit">Съхрани</button>
  </form>
  <div class="notes">
    <div *ngFor="let note of notes; index as i">
      <div class="note">
        <h2 (click)="editingNoteIndex = i">{{ note.title }}</h2>
        <p>{{ note.content }}</p>
        <button *ngIf="editingNoteIndex === i" (click)="editNote(i)">
          Редактирай
        </button>
        <button *ngIf="editingNoteIndex === i" (click)="deleteNote(i)">
          Изтрий
        </button>
      </div>
    </div>
  </div>
</div>
